.sidebar {
  .setting-modal-container {
    min-height: 100vh;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
  }

  .setting-modal {
    @media (max-width: 768px) {
      position: sticky !important;
      margin: 10px;
    }
  }
}

.inputWrapper {
  height: 45px;
  border-radius: 10px;
  background-color: #121619;
  border: 1px solid #636363;
  color: #000;
  outline: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 30%;
  min-width: min(320px, 80vw);
  padding-left: 10px;
  padding-right: 10px;

  &::placeholder {
    color: #000;
  }

  input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.000001);
    color: #fff;
  }
}

.input_label {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #636363;
}