.sidebar {
  .setting-modal-container {
    min-height: 100vh;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center;
  }

  .setting-modal {
    @media (max-width: 768px) {
      position: sticky !important;
      margin: 10px;
    }
  }
}

.inputWrapper {
  height: 55px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 2px solid;
  border-image-source: linear-gradient(94.55deg, #14FA9B -3.86%, #128EE9 100%);
  border-image-slice: 1;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;

  &::placeholder {
    color: #000;
  }


  input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.000001);
    color: #fff;
  }
}

.input_label {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #636363;
}