.loginNew {
  background: url("/images/welcomePageBg1.png") repeat center center;
  background-size: contain;
  background-attachment: fixed;

  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;

  .rememberMe_wrapper {
    /* Remove default input styling */
    input[type="checkbox"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
    }

    input[type="checkbox"]:checked {
      /* Add checkmark for checked state */
      background: url("/images/checkmark.svg");
      background-repeat: no-repeat;
      background-size: 10px;
      background-position-x: 5px;
      background-position-y: 5px;
    }

    /* Style the checkbox container */
    input[type="checkbox"]:after {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid #fff;
      border-radius: 6px;
      box-sizing: border-box;
      cursor: pointer;
    }

    /* Style the checkbox on focus */
    input[type="checkbox"]:focus:after {
      outline: 1.5px solid #fff;
    }
  }

  .top {
    position: fixed;
    top: 5px;
    left: 10px;
    margin-top: 40px;
    margin-left: 32px;
    @media (max-width: 768px) {
      margin-left: 10px;
    }
  }

  .section {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    // background-color: #FFFFFF1A;
    border-bottom: solid 1px #555;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro-section {
    max-width: 95%;
    border-radius: 10px;
    width: 500px;
    padding: 50px 30px;
    background-color: rgba(255, 255, 255, 0.13);
    // opacity: 0.5;
    backdrop-filter: blur(15px);
    box-sizing: border-box;
  }

  .inputWrapper {
    height: 45px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #000;
    outline: none;
    display: flex;
    align-items: center;

    margin: 10px auto;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

    &::placeholder {
      color: #000;
    }

    input {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.000001);
      color: #fff;
    }
  }

  .loginButton {
    height: 40px;
    width: 100%;
    margin-top: 48px;
    margin: 5px auto 10px auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }

  span {
    color: lightgray;
    b {
      color: white;
    }
  }
  .link {
    color: #fff;
    text-decoration: underline;
  }
  #scroll-simulator {
    text-align: center;
    display: block;
    margin: 20px auto;
  }
}

@media screen and (min-width: 600px) {
  .form {
    width: 95%;
  }
}
