.choose-your-profile-modal {
  img{
      width: 80px;
      height: 80px;
    }
  @media (max-width: 765px) {
    margin: 10px;

    h3 {
      font-size: 18px;
      line-height: 30px;
      margin-right: 20px;
    }

    img{
      width: 80px;
      height: 80px;
    }
  }
}
.app_button {
  height: 40px;
  width: 100%;
  margin-top: 48px;
  margin: 5px auto 10px auto;
  border-radius: 5px;
  background-color: #ffffff33;
  color: #fff;
  border: 1px solid #ffffff33 !important;
  backdrop-filter: blur(15px);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
}
