.home {
    overflow: hidden;
    height: 100%;
    background-attachment: cover;
    background-color: #0E061E;

    background: url("/images/home0.jpeg") repeat center center;
    background-size: cover;


    @media (max-width: 768px) {
        background: url("/images/mbhome.jpg");
        background-size: cover;
    }

}
#background_wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-image: url('/images/home0.jpeg');
    background-attachment: fixed;
    @media (max-width: 768px) {
        background: url("/images/mbhome.jpg");
        background-attachment: fixed;
    }
}

.searchresult {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.homedarkbg {
    background-color: #00000040;
}

.centerBlob1 {
    position: absolute;
    left: 0;
    bottom: 20%;
    background: #273E3A;
    width: 40vw;
    height: 20vw;

    min-width: 300px;
    min-height: 150px;
    border-radius: 100%;
    filter: blur(80px);
    animation: rotate 20s linear infinite;
}

.centerBlob2 {
    position: absolute;
    right: -5%;
    top: -5%;
    background: #3A173E;
    width: 20vw;
    height: 20vw;

    min-width: 250px;
    min-height: 250px;
    border-radius: 100%;
    filter: blur(80px);
    animation: rotate2 20s linear infinite;
}

.centerBlob3 {
    position: absolute;
    right: 20%;
    top: -10%;
    background: #273E3A;
    width: 20vw;
    height: 20vw;

    min-width: 250px;
    min-height: 250px;
    border-radius: 100%;
    filter: blur(80px);
    animation: rotate2 15s linear infinite;
}


@keyframes rotate {

    0%,
    100% {
        transform: translate(-30%, 0%) rotate(-30deg);
    }

    30% {
        transform: translate(-40%, 30%) rotate(-10deg);
    }

    60% {
        transform: translate(-50%, 50%) rotate(10deg);
    }
}

@keyframes rotate2 {

    0%,
    100% {
        width: 20vw;
        transform: translate(60%, -50%) scale(1);
    }

    33% {
        width: 40vw;
        transform: translate(30%, -20%) scale(0.8);
    }

    66% {
        width: 20vw;
        transform: translate(60%, -20%) scale(1.4);
    }
}

.leftBlob1 {
    position: absolute;
    right: 50%;
    top: -20%;
    background: linear-gradient(#13B8A6, #00805A, #001D1A);
    width: 10vw;
    height: 10vw;

    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    filter: blur(50px);
    animation: leftrotate1 20s linear infinite;
}

.leftBlob2 {
    position: absolute;
    left: -70%;
    bottom: -20%;
    background: linear-gradient(#13B8A6, #00805A, #001D1A);
    width: 18vw;
    height: 20vw;

    min-width: 250px;
    min-height: 300px;
    border-radius: 100%;
    filter: blur(80px);
    animation: leftrotate2 15s linear infinite;
}

.leftBlob3 {
    position: absolute;
    right: -30%;
    bottom: -20%;
    background: linear-gradient(#13B8A6, #00805A, #001D1A);
    width: 12vw;
    height: 15vw;

    min-width: 150px;
    min-height: 200px;
    border-radius: 100%;
    filter: blur(80px);
    animation: leftrotate2 20s linear infinite;
}

.inputWrapper {
    // height: 55px;
    border: 2px solid;
    border-image-source: linear-gradient(94.55deg, #14FA9B -3.86%, #128EE9 100%);
    border-image-slice: 1;
    background-color: transparent !important;
}

.inputWrapperHover{
    // height: 55px;
    border: 2px solid;
    border-image-source: linear-gradient(94.55deg, #14FA9B -3.86%, #128EE9 100%);
    border-image-slice: 1;
    background-color: transparent !important;
}

.inputWrapperHover {
    margin: 2px 0x !important;
    @media (max-width: 768px) {
        margin-top: 10px;
        // margin-bottom: 10px;
        // margin-left: 20px;
        // width: 100% !important;
        border: 2px solid;
        border-image-source: linear-gradient(94.55deg, #14FA9B -3.86%, #128EE9 100%);
        border-image-slice: 1;
        background-color: transparent !important;
    }
}

@keyframes leftrotate1 {

    0%,
    100% {
        transform: translate(50%, 0%) rotate(0deg);
    }

    30% {
        transform: translate(50%, 15%) rotate(180deg);
    }

    60% {
        transform: translate(50%, 0%) rotate(360deg);
    }
}


@keyframes leftrotate2 {

    0%,
    100% {
        transform: translate(0%, 0%) rotate(0deg);
    }

    30% {
        transform: translate(10%, 10%) rotate(360deg);
    }

    60% {
        transform: translate(-20%, -10%) rotate(360deg);
    }
}



.rightBlob1 {
    position: absolute;
    right: 50%;
    bottom: -20%;
    background: linear-gradient(#13B8A6, #00805A, #001D1A);
    width: 10vw;
    height: 10vw;

    min-width: 150px;
    min-height: 150px;
    border-radius: 100%;
    filter: blur(50px);
    animation: rightrotate1 20s linear infinite;
}

@keyframes rightrotate1 {

    0%,
    100% {
        transform: translate(50%, 0%) rotate(0deg);
    }

    30% {
        transform: translate(50%, -15%) rotate(180deg);
    }

    60% {
        transform: translate(50%, 0%) rotate(360deg);
    }
}