:root {
  // --main-color: #0b0b0b
  --main-color: #fff;
  --secondary-color: #000;
  // overflow-x: hidden;
}

button {
  text-transform: capitalize !important;
}

body {
  background-color: #141414;
  color: #fff;
}

.link {
  color: var(--main-color);
  text-decoration: none;
}
.listTitle {
  color: var(--secondary-color); //!important;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.gradientButton {
  height: 40px;
  padding: 8px;
  // width: 200px;
  // margin: 5px auto 10px auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  //   color: #ffffff;
  color: #fff;
  //   color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 14px;
  }
  //   height: 40px;
  //   width: 100%;
  //   margin-top: 48px;
  //   margin: 5px auto 10px auto;
  //   border-radius: 5px;
  //   background-color: rgba(255, 255, 255, 0.2);
  //   color: #ffffff;
  //   color: #222;
  //   border: none;
  //   font-size: 18px;
  //   font-weight: 500;
  //   cursor: pointer;
}

.d--sm-none {
  @media (max-width: 768px) {
    display: none;
  }
}

.youtube-player{
  width: 100% !important;
  height: 90vh !important;
}
