:root{
    // --main-color: #0b0b0b
    --main-color: #fff;
    --secondary-color: #000;
    // overflow-x: hidden;
}

button {
    text-transform: capitalize !important;
}

body {
    background-color: #000;
    color: #fff;
}

.link{
    color: var(--main-color);
    text-decoration: none;
}
.listTitle{
    color: var(--secondary-color); //!important;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.gradientButton {
    height: 40px;
    // width: 200px;
    // margin: 5px auto 10px auto;
    border-radius: 5px;
    background: rgb(0, 255, 177);
    background: -moz-linear-gradient(
        90deg,
        rgba(0, 255, 177, 1) 36%,
        rgba(0, 212, 255, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(0, 255, 177, 1) 36%,
        rgba(0, 212, 255, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(0, 255, 177, 1) 36%,
        rgba(0, 212, 255, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffb1",endColorstr="#00d4ff",GradientType=1);
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}