:root {
  // --main-color: #0b0b0b
  --main-color: #fff;
  --secondary-color: #000;
  // overflow-x: hidden;
}

button {
  text-transform: capitalize !important;
}

body {
  background-color: #141414;
  color: #fff;
}

.link {
  color: var(--main-color);
  text-decoration: none;
}

.listTitle {
  color: var(--secondary-color); //!important;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.gradient-text {
  background: linear-gradient(95.79deg, #14FA9B 53.93%, #128EE9 77.59%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Make text transparent */
  /* Add any other styles you need */
}

.gradient-text2 {
  background: linear-gradient(95.79deg, #14FA9B 0%, #128EE9 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Make text transparent */
  /* Add any other styles you need */
}

.gradientButton {
  height: 40px;
  padding: 8px;
  // width: 200px;
  // margin: 5px auto 10px auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.3);
  //   color: #ffffff;
  color: #fff;
  //   color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 14px;
  }

  //   height: 40px;
  //   width: 100%;
  //   margin-top: 48px;
  //   margin: 5px auto 10px auto;
  //   border-radius: 5px;
  //   background-color: rgba(255, 255, 255, 0.2);
  //   color: #ffffff;
  //   color: #222;
  //   border: none;
  //   font-size: 18px;
  //   font-weight: 500;
  //   cursor: pointer;
}

.d--sm-none {
  @media (max-width: 768px) {
    display: none;
  }
}

.youtube-player {
  width: 100% !important;
  height: 90vh !important;
}

.theme_button_small,
.theme_button,
.theme_button_danger {
  width: fit-content;
  padding: 0 22px;
  min-width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #EA1B1B10;
  color: #EA1B1B;
  border: 2px solid #EA1B1B60;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #EA1B1B30;
  }
}

.theme_button {
  background-color: #00805A;
  color: #fff;
  border: none;

  &:hover {
    background-color: #13B8A6;
  }
}

.theme_button_small {
  background-color: #00805A;
  color: #fff;
  border: none;
  min-width: 0px;
  padding: 0 12px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;

  &:hover {
    background-color: #13B8A6;
  }
}