@tailwind base;
@tailwind components;
@tailwind utilities;


body, html, div,input{
    outline: none;
}

body{
    background-color: #000;
}

*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}