@tailwind base;
@tailwind components;
@tailwind utilities;


body, html, div,input{
    outline: none;
}

body{
    background-color: #000;
    box-sizing: border-box;
}

html, body, #root { height: 100%; margin: 0; padding: 0; }

*{margin:0;padding:0;border:0;list-style:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}


*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

